body { font-family: Arial, Verdana;
  font-size: 11pt;
  padding-left: 90px;
  padding-top: 10px;
  background-image: url("https://phonoteka.org/uploads/posts/2022-01/1642999668_54-phonoteka-org-p-chernaya-doska-fon-60.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white

}
p{
  font-size: 17pt;
  color:white
   
}

h1{
  font-size: 20pt;
  padding-left: 500px;
}
